.action-buttons {
  padding: 10px 0;
}

.action-buttons .btn {
  width: 100px;
}

.table-row {
  cursor: pointer;
}
.table-row:hover {
  background: #eee;
  cursor: pointer;
}

.mat-row:hover {
  background-color: #eee;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.notification {
  padding: 2px 29px;
  margin-bottom: 20px;
  color: green;
}

.notification .failure {
  color: red;
}

